name: Gostman CI/CD Pipeline

on: [push]

jobs:
  build:
    runs-on: ubuntu-slim
    strategy:
      matrix:
        go-version: ["1.25.5"]

    steps:
      - uses: actions/checkout@v5
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Install dependencies
        run: |
          go mod download && go mod verify
      - name: Build
        run: go build ./...
      - name: Unit tests
        run: go test -cover ./...
